.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ais-Hits {
  width: 100% !important;
}

.ais-Hits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ais-Hits-item {
  width: 33% !important;
  margin: 30px;
  min-height: 450px;
}

.ais-Hits-item .item-box {
  min-height: 350px;
  min-width: 340px;
}

.item-media {
  text-align: center;
  min-height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ais-SearchBox-form {
  background-color: transparent;
}

.ais-SearchBox {
  width: 30%;
  padding-bottom: 0px;
  background: transparent;
}

.ais-SearchBox input {
  border-radius: 15px;
}

.pagination-bx {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
